.root{
    -fx-background-color:linear-gradient(to top, #000000, #191414);
}
#exitButton {
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
}
#minimizeButton {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
}
#exitButton:hover {
    -fx-font-weight: bold;
}
#minimizeButton:hover {
    -fx-font-weight: bold;
}