.root {
  -fx-background-color: #000000;
}

#exitButton {
  -fx-font-size: 15px;
  -fx-text-fill: #FFFFFF;
}

#minimizeButton {
  -fx-font-size: 20px;
  -fx-text-fill: #FFFFFF;
}

#minimizeButton:hover {
  -fx-font-weight: bold;
}

#exitButton:hover {
  -fx-font-weight: bold;
}
