.root {
  -fx-background-color: linear-gradient(to top, #000000, #191414);
}

#exitButton {
  -fx-font-size: 15px;
  -fx-text-fill: #FFFFFF;
}

#minimizeButton {
  -fx-font-size: 20px;
  -fx-text-fill: #FFFFFF;
}

#minimizeButton:hover {
  -fx-font-weight: bold;
}

#exitButton:hover {
  -fx-font-weight: bold;
}
#leftPaneInnerTop {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#leftPaneInner {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}

#leftPane {
  -fx-background-color: #181818;
  -fx-background-radius: 10px;
}
#rightTopPane {
  -fx-background-color: #181818;
  -fx-background-radius: 10px;
}
#rightBottomPane {
  -fx-background-color: #181818;
  -fx-background-radius: 10px;
}
.selected {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#swapSceneLabel {
  -fx-font-family: Techno;
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}
#swapSceneLabel:hover {
  -fx-underline: true;
}
#playlistBackground0:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#playlistBackground1:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#playlistBackground2:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#playlistBackground3:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#playlistInfo0{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Techno;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
#playlistInfo1{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Techno;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
#playlistInfo2{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Techno;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
#playlistInfo3{
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Techno;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
#changeEditedPane0 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#changeEditedPane1 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#changeEditedPane2 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}

#newPlaylistPane0 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#newPlaylistPane1 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#newPlaylistPane2 {
  -fx-background-color: #191414;
  -fx-background-radius: 10px;
}
#topartistsLabel {
  -fx-font-size: 10px;
  -fx-font-weight: bold;
}
#discoveryLabel {
  -fx-font-size: 10px;
  -fx-font-weight: bold;
}
#newreleasesLabel {
  -fx-font-size: 10px;
  -fx-font-weight: bold;
}
#topsongsLabels {
  -fx-font-size: 10px;
  -fx-font-weight: bold;
}

#topartistsPane:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#discoveryPane:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#newreleasesPane:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
#topsongsPane:hover {
  -fx-background-color: linear-gradient(to right, #323436, #5A5A5A);
  -fx-background-radius: 10px;
}
.text {
  -fx-text-fill: #FFFFFF;
  -fx-font-family: Techno;
  -fx-font-size: 14px;
}


